:root {
  --main-bg-color: rgb(30 42 59);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body,
#wrapper {
  height: 100%;
  background-color: var(--main-bg-color);
}

#main {
  display: flex;

  height: calc(100% - 72px);
  background-color: var(--main-bg-color);
}

#sidebar {
  width: 200px;
  background-color: var(--main-bg-color);
}
