*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body,
#wrapper {
  height: 100%;
}

#main {
  display: flex;

  height: calc(100% - 72px);
  background-color: #6b7280;
}

#sidebar {
  width: 200px;
}
